* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.title {
    color: #72005F;
    font-size: 45px;
}

.title a {
    text-decoration: none;
    color: #72005F;
}

.subtitle {
    color: #BAA193;
    font-size: 23px;
}

.subtitle a { 
    text-decoration: none;
    color: #BAA193;
}

.advice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.advice-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    inline-size: 600px;
    overflow-wrap: break-word;
    padding: 150px 100px;
    background-color: #dbd6db;
    
}

#advice-paragraph {
    font-size: 30px;
    color: #72005F;
    font-weight: 800;
    
}

#author {
    font-size: 25px;
    color: #BAA193;
    font-weight: 500;
}